[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyunoh Ryu (horyu1234)
[access "refs/for/refs/*"]
	read = group DiscordMusicBot Developers
	read = group user/Hyunoh Ryu (horyu1234)
	push = group DiscordMusicBot Developers
	push = group user/Hyunoh Ryu (horyu1234)
	label-Code-Review = -2..+2 group DiscordMusicBot Developers
	label-Code-Review = -2..+2 group user/Hyunoh Ryu (horyu1234)
	label-Verified = -1..+1 group user/Hyunoh Ryu (horyu1234)
	rebase = group DiscordMusicBot Developers
	rebase = group user/Hyunoh Ryu (horyu1234)
	removeReviewer = group user/Hyunoh Ryu (horyu1234)
	submit = group DiscordMusicBot Developers
	submit = group user/Hyunoh Ryu (horyu1234)
[access "refs/heads/*"]
	read = group DiscordMusicBot Developers
	read = group user/Hyunoh Ryu (horyu1234)
	create = group DiscordMusicBot Developers
	create = group user/Hyunoh Ryu (horyu1234)
	push = group DiscordMusicBot Developers
	push = +force group user/Hyunoh Ryu (horyu1234)
	pushMerge = group DiscordMusicBot Developers
	pushMerge = group user/Hyunoh Ryu (horyu1234)
	label-Code-Review = -2..+2 group DiscordMusicBot Developers
	submit = group DiscordMusicBot Developers
[access "refs/tags/*"]
	push = group DiscordMusicBot Developers
	push = group user/Hyunoh Ryu (horyu1234)
	push = +force group user/Hyunoh Ryu (horyu1234)
